:info "Стандартный шаблон xcos-gen"

; Ассоциация блоков xcos и HDL
:assoc INTEGRAL_f sd_integrator
:assoc GAIN_f sd_mult_2in
:assoc DIFF_f sd_diff
:assoc SUM_f sd_adder

:name example_module

; Задание типов сигнала
:module_input normal 16
:module_output normal 16

; Подключение шаблонов
:include parts/license
:include parts/about
:include parts/header
:block param_wires
:block assign
:block body
:include parts/footer